<div class="container_root">
  
  <% if flash[:notice] %>
    <div class="index_flash">
      <%= flash[:notice] %>
    </div>
  <% end %>
  
  <% if @bookmarks.empty? %>
    <div class="no_bookmarks">
      <p>まだブックマークが何もありません</p>
      <p><%= link_to '新しく追加してみよう！', new_bookmark_path, class: "add_link" %></p>
    </div>
  <% else %>
    <% @bookmarks.each do |book| %>
      <div class="bookmark_info">
        <h1><%= link_to book.title, book.url %></h1>
        <p>面白さ：<%= book.interest %></p>
        <%= link_to '表示', "/bookmarks/#{book.id}" %>
        <%= link_to '編集', "/bookmarks/#{book.id}/edit" %>
        <div class="delete_botan"><%= link_to '削除', "/bookmarks/#{book.id}", data: {turbo_method: :delete} %></div>
      </div>
    <% end %>
  <% end %>
  
</div>


